body {
	background-color:#e6e8ed;
}
#jumbo {
	margin-top:40px;
	background-color:#ffffff;
	
	}
#aboutpic {
	height:200px;
	width:200px;
	margin-left:40px;
}
.footer {
	margin-top:50px;
	height:53px;
}
#white {
	color:white;
	padding-top: 15px;
}
#port {
	margin-top:25px;
}
#google {
color: #fff;}
#twitter {
color: #fff;}

#socials {
padding-top: 10px;}

#vahe {
	margin-top:25px;
}